@model PortalEducacional.Models.Nutricional

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nutricional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aluno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NutricionalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
