@model PortalEducacional.Models.Escola
@{
    ViewData["Title"] = "Excluir Escola";
}
<div class="ibox-content">
    <div class="page-head">
        <h2><i class="fa fa-university"></i> Excluir Escola</h2>
        <ol class="breadcrumb">
            <li><a href="#">Cadastros</a></li>
            <li><a href="#" class="color-primary">Excluir Escola</a></li>
        </ol>
    </div>
    <div class="block-clean">

        <div class="col-sm-12 col-col-md-12 col-lg-12 no-padding right top">
            <form asp-action="Delete">
                <input type="hidden" asp-for="EscolaID" />
                <a asp-action="Index" class="btn btn-default">Cancelar</a>
                <input type="submit" value=" Excluir" class="btn btn-danger" id="btnSalvar" />
            </form>
        </div>
        <div class="fix"></div>
        <div class="divisor">
            <div class="divdentor"></div>
        </div>
        <div class="row">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CNPJ)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CNPJ)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DataCadastro)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Ativo)
                    </dt>
                    <dd>
                        @if (Model.Ativo)
                        {
                            @Html.DisplayName("ATIVO")
                        }
                        else
                        {
                            @Html.DisplayName("INATIVO")
                        }
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Endereco)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Endereco.CEP)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="inProgress" id="inProgress" style="display: none;">
</div>
<div class="inProgress2" id="inProgress2" style="display: none;">
    <span class="color-primary" style="font-size: 25px"><i class="fa fa-spinner fa-spin"></i></span>
    <br />
    <span class="color-primary">Aguarde...</span>
</div>
<div id="result"></div>