@model PortalEducacional.Models.Perfil
@{
    ViewData["Title"] = "Edit";
}
<div class="ibox-content">
    <div class="page-head">
        <h2><i class="fa fa-user-md"></i> Alteração de Perfil</h2>
        <ol class="breadcrumb">
            <li><a href="#">Segurança</a></li>
            <li><a href="#" class="color-primary">Perfil</a></li>
        </ol>
    </div>
    <div class="block-clean">
        <form asp-action="Edit">
            <div class="col-sm-12 col-col-md-12 col-lg-12 no-padding right top">
                <a asp-action="Index" class="btn btn-default">Cancelar</a>
                <input type="submit" value=" Salvar" class="btn btn-success" id="btnSalvar" />
            </div>
            <div class="fix"></div>
            <div class="divisor">
                <div class="divdentor"></div>
            </div>
            <div class="row">
                <h5 class="headwi primary">Dados do Perfil</h5>
                <div class="form-horizontal group-border-dashed">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="PerfilID" />

                    <div class="form-group col-sm-12 col-md-4 col-lg-3">
                        <strong class="obg">*</strong>
                        <label class="control-label">Escola</label>
                        <select class="form-control" asp-for="EscolaID" asp-items="(SelectList)ViewBag.Escola"></select>
                    </div>
                    <div class="fix"></div>

                    <div class="form-group col-sm-12 col-md-4 col-lg-3">
                        <strong class="obg">*</strong>
                        <label class="control-label">Descrição</label>
                        <input class="form-control" asp-for="Nome" />
                    </div>
                    <div class="form-group col-sm-2 col-md-2 col-lg-1">
                        <label asp-for="Ativo" class="control-label">Ativo?</label>
                        <br />
                        <input asp-for="Ativo" type="checkbox" data-toggle="toggle" data-on="Sim" data-off="Não" data-onstyle="success" data-offstyle="danger">
                    </div>
                    <div class="fix"></div>
                    <h5 class="headwi primary">Permissões de Acesso</h5>
                    <div class="block-noborder">
                        <div class="form-horizontal group-border-dashed">
                            <div class="col-md-12 right no-padding">
                                <a ID="aBloquearTodos" class="btn btn-danger btn-trans" onclick="MarcaTodos(this);"><i class="fa fa-times"></i>&nbsp; Bloquear Todos</a>
                                <a ID="aEditarTodos" class="btn btn-success btn-trans" onclick="MarcaTodos(this);"><i class="fa fa-pencil"></i>&nbsp; Editar Todos</a>
                            </div>
                            <div class="fix"></div>
                        </div>
                        <div id="modulo">
                            <table class="table table-noborder">
                                <thead>
                                    <tr>
                                        <th>Menu</th>
                                        <th>Funcionalidade</th>
                                        <th style="width: 20px"></th>
                                        <th style="width: 20px"></th>
                                        <th style="width: 20px"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-funcionalidades">
                                    @if (Model.ListaTelas != null)
                                    {
                                        var i = 0;
                                        foreach (var item in Model.ListaTelas.OrderBy(x => x.Menu))
                                        {
                                            <tr>
                                                <input type="hidden" name="@($"ListaTelas[{i}].PerfilPermissoesID")" value="@item.PerfilPermissoesID" />
                                                <input type="hidden" name="@($"ListaTelas[{i}].Menu")" value="@item.Menu" />
                                                <input type="hidden" name="@($"ListaTelas[{i}].DescricaoTela")" value="@item.DescricaoTela" />
                                                <input type="hidden" name="@($"ListaTelas[{i}].Controller")" value="@item.Controller" />
                                                <input type="hidden" id="@($"status{i}")" name="@($"ListaTelas[{i}].Status")" value="@item.Status" />
                                                <td>@item.Menu</td>
                                                <td>@item.DescricaoTela</td>
                                                @if (item.Status == "BLOQUEADO")
                                                {
                                                    <td><a ID="@($"bloque{i}")" class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip" data-original-title="Bloqueado" onclick="MarcaOpcaoFuncionalidade(this);"><i class="fa fa-times"></i></a></td>
                                                    <td><a ID="@($"editar{i}")" class="btn btn btn-default btn-xs" data-placement="top" data-toggle="tooltip" data-original-title="Visualizar / Editar" onclick="MarcaOpcaoFuncionalidade(this);"><i class="fa fa-pencil"></i></a></td>
                                                }
                                                else if (item.Status == "EDITAR")
                                                {
                                                    <td><a ID="@($"bloque{i}")" class="btn btn-default btn-xs" data-placement="top" data-toggle="tooltip" data-original-title="Bloqueado" onclick="MarcaOpcaoFuncionalidade(this);"><i class="fa fa-times"></i></a></td>
                                                    <td><a ID="@($"editar{i}")" class="btn btn btn-success btn-xs" data-placement="top" data-toggle="tooltip" data-original-title="Visualizar / Editar" onclick="MarcaOpcaoFuncionalidade(this);"><i class="fa fa-pencil"></i></a></td>
                                                }
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="inProgress" id="inProgress" style="display: none;">
</div>
<div class="inProgress2" id="inProgress2" style="display: none;">
    <span class="color-primary" style="font-size: 25px"><i class="fa fa-spinner fa-spin"></i></span>
    <br />
    <span class="color-primary">Aguarde...</span>
</div>
<div id="result"></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}