@model IEnumerable<PortalEducacional.Models.Estoque>
@{
    ViewData["Title"] = "Index";
}
<div class="ibox-content">
    <div class="page-head">
        <h2><i class="fa fa-refresh"></i> Movimentação Estoque</h2>
        <ol class="breadcrumb">
            <li><a href="#">Estoque</a></li>
            <li><a href="#" class="color-primary">Movimentação Estoque</a></li>
        </ol>
    </div>
    <div class="block-clean">
        <div class="col-sm-12 col-col-md-12 col-lg-12 no-padding right top">
            <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> Novo</a>
        </div>
        <div class="fix"></div>
        <div class="divisor">
            <div class="divdentor"></div>
        </div>
        <h5 class="headwi primary">Filtros</h5>
        <div style="margin-top: 15px;">
            <div class="form-group col-sm-12 col-md-4 col-lg-3">
                <label class="control-label">Escola</label>
                <select class="form-control" id="EscolaID" asp-items="(SelectList)ViewBag.Escola">
                    <option value="0"> TODOS</option>
                </select>
            </div>
            <div class="col-sm-2 col-col-md-3 col-lg-1" style="margin-top: 18px;">
                <a class="btn btn-trans btn-info" id="btnPesquisar" onclick="PesquisarEstoque()"><i class="fa fa-search"></i> Pesquisar</a>
            </div>
        </div>
        <div class="fix"></div>
        <div class="divisor">
            <div class="divdentor"></div>
        </div>
        <div class="block-noborder">
            <div class="headwi primary">Movimentação Estoque</div>
            <div class="tb-noborder table-responsive">
                <table class="table hover table-noborder datatable display">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Escola")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Produto)
                            </th>
                            <th>
                                @Html.DisplayName("Movimentação")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantidade)
                            </th>
                            <th>
                                @Html.DisplayName("Data")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Historico)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Escola.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Produto.Codigo) - @Html.DisplayFor(modelItem => item.Produto.Descricao)
                                </td>
                                <td>
                                    @if (item.Saida)
                                    {
                                        @Html.DisplayName("Saída")
                                    }
                                    else
                                    {
                                        @Html.DisplayName("Entrada")
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataCadastro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Historico)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="inProgress" id="inProgress" style="display: none;">
</div>
<div class="inProgress2" id="inProgress2" style="display: none;">
    <span class="color-primary" style="font-size: 25px"><i class="fa fa-spinner fa-spin"></i></span>
    <br />
    <span class="color-primary">Aguarde...</span>
</div>
<div id="result"></div>
<script type="text/javascript">

    function PesquisarEstoque() {

    var selecionadoEscola = $("#EscolaID").val();

        var url = '@Html.Raw(Url.Action("Index", "Estoque"))?idEscola=' + selecionadoEscola;
    window.location = url;
    }
</script>